$primary-fonts: 'Open Sans', Helvetica, Arial, sans-serif;
$secondary-fonts: 'Ubuntu', Helvetica, sans-serif;
$body-width: 960px;
$font-color: #555;

$empire-color: 		#16DFCE;
$sdv-color: 		#EB4747;
$pekepolis-color: 	#00CCF5;
$tumall-color: 		#F55F5F;
$bluec-color: 		#FC798F;
$dreamcher-color: 	#FF9580;
$sunage-color: 		#ffcc33;

@import 'reset';

html, body{
	color: #555;
	font-family: $primary-fonts;
}

@import 'animations';

@mixin transforms($transform){
	-webkit-transform:  $transform;
	-moz-transform: 	$transform;
	-ms-transform: 		$transform;
	-o-transform: 		$transform;
	transform: 			$transform;
}

@mixin transitions($transition){
	-webkit-transition: $transition;
	-moz-transition: 	$transition;
	-ms-transition: 	$transition;
	-o-transition: 		$transition;
	transition: 		$transition;
}

@mixin perspectives($perspective){
	-webkit-perspective: $perspective;
	-moz-perspective: 	 $perspective;
	-ms-perspective: 	 $perspective;
	-o-perspective: 	 $perspective;
	perspective: 		 $perspective;
}	

@mixin animations($animation){
	-webkit-animation: 	$animation;
	-moz-animation: 	$animation;
	-ms-animation: 	 	$animation;
	-o-animation: 	 	$animation;
	animation: 		 	$animation;
}

@mixin box-sizing($property){
	-webkit-box-sizing: $property;
	-moz-box-sizing: 	$property;
	box-sizing: 		$property;
}

	.container{
		margin: 0 auto;
		padding: 40px 0 0;
	}
	
		.cen-col{
			max-width: $body-width;
			margin-left: auto;
			margin-right: auto;
			@include box-sizing(border-box);
		}
	
		.header{
			position: relative;
			height: 115px;
			margin-bottom: 25px;
		}
	
			.nav-link{
				position: relative;
				display: inline-block;
				margin-right: 15px;
				font-size: 18px;
			
				&:hover a{
					color: #0797e9;
				}
			
				&.active a{
					color: #ff295b;
				}
				
				&:before{
					position: absolute;
					display: block;
					top: -5px;
					left: 0;
					right: 0;
					margin: 0 auto;
					width: 10px;
					height: 10px;
					background: #0797e9;
					border-radius: 50%;
					opacity: 0;
					content: '';
					@include transitions(all .2s ease-in-out);
				}
				
					&:hover:before, 
					&.active:before{
						top: -15px;
						opacity: 1;
					}
					
					&.active:before{
						background: #ff295b;
					}
			}		

			.main-logo{
				position: absolute;
				right: 0;
				top: 0;
				width: 130px;
				height: 110px;
				font-family: $secondary-fonts;
				@include perspectives(400px);
				@include transforms(scale(0.8));
				cursor: default;
			
				&:hover{
					@include transforms(scale(1));
				}
				
					&:hover .yellow{
						top: -40px;
						right: -40px;
						@include transforms(rotate(135deg) rotateY(65deg));
					}
					
					&:hover .green{
						bottom: -40px;
						right: -40px;
						@include transforms(rotate(135deg) rotateX(-65deg));
					}
					
					&:hover .blue{
						bottom: -40px;
						left: -40px;
						@include transforms(rotate(135deg) rotateY(-65deg));
					}
					
					&:hover .purple{
						top: -40px;
						left: -40px;
						@include transforms(rotate(135deg) rotateX(65deg));
					}
					
					&:hover .pink{
						color: rgba(255, 41, 91, 0.85);
						@include animations(float 4s ease-in-out infinite)
					}
					
					&:hover .logo-txt{
						-webkit-backface-visibility: visible;
						@include animations(float2 4s ease-in-out infinite)
					}
			}	
			
				.fig{
					position: absolute;
					width: 100%;
					height: 100%;
					@include transforms(rotate(90deg));
				
				
					&:after, 
					&:before{
						display: inline-block;
						position: absolute;
						width: 65px;
						height: 0;
						border-left: 30px solid rgba(0, 0, 0, 0);
						border-right: 30px solid rgba(0, 0, 0, 0);
						content: '';
					}
					
					&:before{
						border-bottom: 55px solid;
					}
					
					&:after{
						border-top: 55px solid;
						left: 0;
						bottom: 0;
					}
				}	
					
					.pink{
						color: #ff295b;
					}
					
					.yellow{
						color: rgba(255, 229, 0, 0.85);
						top: -10px;
						right: 0;
					}
					
					.purple{
						color: rgba(248, 18, 159, 0.85);
						top: 0;
						left: -10px;
					}
					
					.green{
						color: rgba(177, 210, 30, 0.85);
						bottom: 0;
						right: -10px;
					}
					
					.blue{
						color: rgba(7, 150, 233, 0.85);
						bottom: -10px;
						left: 0;
					}

						
						
						
						/*
@-webkit-keyframes float{
							0%{   -webkit-transform: rotate(90deg) rotateX(0deg);  	  top: 5px;}
							50%{  -webkit-transform: rotate(90deg) rotateX(-180deg);  top: -5px;}
							100%{ -webkit-transform: rotate(90deg) rotateX(-360deg);  top: 5px;}
						}
							
							@-moz-keyframes float{
								0%{   -moz-transform: rotate(90deg) rotateX(0deg);  	  top: 5px;}
								50%{  -moz-transform: rotate(90deg) rotateX(-180deg);  top: -5px;}
								100%{ -moz-transform: rotate(90deg) rotateX(-360deg);  top: 5px;}
							}
							
							@-ms-keyframes float{
								0%{   -ms-transform: rotate(90deg) rotateX(0deg);  	  top: 5px;}
								50%{  -ms-transform: rotate(90deg) rotateX(-180deg);  top: -5px;}
								100%{ -ms-transform: rotate(90deg) rotateX(-360deg);  top: 5px;}
							}
							
							@-o-keyframes float{
								0%{   -o-transform: rotate(90deg) rotateX(0deg);  	  top: 5px;}
								50%{  -o-transform: rotate(90deg) rotateX(-180deg);  top: -5px;}
								100%{ -o-transform: rotate(90deg) rotateX(-360deg);  top: 5px;}
							}
						
							@keyframes float{
								0%{   transform: rotate(90deg) rotateX(0deg);  	  top: 5px;}
								50%{  transform: rotate(90deg) rotateX(-180deg);  top: -5px;}
								100%{ transform: rotate(90deg) rotateX(-360deg);  top: 5px;}
							}
						
						@-webkit-keyframes float2{
							0%{   -webkit-transform: rotateY(0deg); 	top: 5px;}
							50%{  -webkit-transform: rotateY(-180deg);  top: -5px;}
							100%{ -webkit-transform: rotateY(-360deg);  top: 5px;}
						}
							
							@-moz-keyframes float2{
								0%{   -moz-transform: rotateY(0deg); 	top: 5px;}
								50%{  -moz-transform: rotateY(-180deg);  top: -5px;}
								100%{ -moz-transform: rotateY(-360deg);  top: 5px;}
							}
							
							@-ms-keyframes float2{
								0%{   -ms-transform: rotateY(0deg); 	top: 5px;}
								50%{  -ms-transform: rotateY(-180deg);  top: -5px;}
								100%{ -ms-transform: rotateY(-360deg);  top: 5px;}
							}
							
							@-o-keyframes float2{
								0%{   -o-transform: rotateY(0deg); 	top: 5px;}
								50%{  -o-transform: rotateY(-180deg);  top: -5px;}
								100%{ -o-transform: rotateY(-360deg);  top: 5px;}
							}
						
							@keyframes float2{
								0%{   transform: rotateY(0deg); 	top: 5px;}
								50%{  transform: rotateY(-180deg);  top: -5px;}
								100%{ transform: rotateY(-360deg);  top: 5px;}
							}
*/
			
				.logo-txt{
					position: absolute;
					width: 100%;
					text-align: center;
					color: #FFF;
					font-weight: 300;
					font-size: 66px;
					line-height: 90px;
				}
				
					.logo-txt::selection,
					.logo-txt::-moz-selection{
						background: transparent;
					}
		
			.page-title{
				margin-bottom: 5px;
				font-size: 42px;
				font-weight: 400;
				@extend .cen-col;
			}
			
			.main-text{
				margin-bottom: 35px;
				color: #888;
				font-size: 18px;
				@extend .cen-col;
			}
	
				.finished{
					text-decoration: line-through;
				}
			
			.proj-wrap{
				position: relative;
				@extend .transTh;
			}
			
			.degraded{
				opacity: 0.6;
			}
			
				.proj-body{
					position: relative;
					padding: 15px 0 0;
					@extend .cen-col;
					@extend .transTh;
				}
				
					.proj-body:hover{
						z-index: 10;
					}

				.view-toggle{
					position: absolute;
					top: 7px;
					right: 15px;
					width: 40px;
					height: 40px;
					border: solid 2px;
					border-radius: 50%;
					text-align: center;
					font-size: 28px;
					cursor: pointer;
					@include transitions(all .3s ease-in-out);
				}
				
					.view-toggle:after{
						font-family: 'fontello';
						line-height: 44px;
						content: '\e819';
					}
				
					.active .view-toggle{
						background: #FFF;
						background: rgba(255,255,255,0.8);
						@include transforms(translateY(8px) rotate(180deg));
					}
					
						.active .view-toggle:hover{
							background: #FFF;
						}
										
					.active.empire .view-toggle, 
					.empire-body:hover .view-toggle,
					.empire-body:hover .main-heading{
						color: $empire-color;
					}					
					
					.active.sdv .view-toggle, 
					.sdv-body:hover .view-toggle, 
					.sdv-body:hover .main-heading{
						color: $sdv-color;	
					}
										
					.active.pekepolis .view-toggle,
					.pekepolis-body:hover .view-toggle,
					.pekepolis-body:hover .main-heading{
						color: $pekepolis-color;
					}
					
					.active.tumall .view-toggle, 
					.tumall-body:hover .view-toggle,
					.tumall-body:hover .main-heading{
						color: $tumall-color;
					}
					
					.active.bluec .view-toggle, 
					.bluec-body:hover .view-toggle,
					.bluec-body:hover .main-heading{
						color: $bluec-color;
					}	
					
					.active.dreamcher .view-toggle, 
					.dreamcher-body:hover .view-toggle,
					.dreamcher-body:hover .main-heading{
						color: $dreamcher-color;
					}		
					
					.active.sunage .view-toggle, 
					.sunage-body:hover .view-toggle,
					.sunage-body:hover .main-heading{
						color: $sunage-color;
					}
							
				.main-heading{
					display: inline-block;
					font-weight: 400;
					font-size: 26px;
					-webkit-backface-visibility: hidden;
				}
				
					.proj-wrap .main-heading{
						cursor: pointer;
					}
				
					.active .proj-body .main-heading{
						color: #FFF;
						cursor: auto;
					}
				
				.site-url{
					display: inline-block;
					margin-left: 10px;
					padding: 1px 5px;
					color: #888;
					border-radius: 2px;
					-webkit-backface-visibility: hidden;
				}
				
					.has-link:after{
						position: relative;
						top: 1px;
						right: 1px;
						display: inline-block;
						margin-left: 5px;
						font-family: 'fontello';
						font-size: 18px;
						content: '\e822';
						@include transitions(all .1s ease-in-out);
					}
					
						.has-link:hover:after{
							right: -2px;
						}
				
					.site-url:hover{
						color: #555;
					}
				
					.active{
						
						.site-url{
							background: rgba(255,255,255,0.4);
							@include transforms(translateY(-4px));
						}
					
						.empire-body .site-url{
							color: darken($empire-color, 15%);
						}
						
						.sdv-body .site-url{
							color: darken($sdv-color, 15%);
						}
						
						.pekepolis-body .site-url{
							color: darken($pekepolis-color, 15%);
						}
						
						.tumall-body .site-url{
							color: darken($tumall-color, 15%);
						}
						
						.dreamcher-body .site-url{
							color: darken($dreamcher-color, 10%);
						}
						
						.bluec-body .site-url{
							color: darken($bluec-color, 10%);
						}
						
						.sunage-body .site-url{
							color: darken($sunage-color, 20%);
						}
						
						.site-url:hover{
							background: rgba(255,255,255,0.7);
						}
					}	
					
				.sub-heading{
					margin: 10px 0;
					font-weight: 400;
					font-size: 22px;
				}	
				
				.proj-contents .sub-heading{
					margin-top: 0;
					color: #FFF;
				}				
				
					.sub-heading .link{
						color: #ff295b;
						font-weight: 600;
					}
				
				.proj-contents{
					overflow: hidden;
					margin-top: 15px;
					max-height: 0;
				}
					
					.active .proj-contents{
						/* margin-top: 25px; */
						max-height: 2000px;
					}
				
			.active{		
				&.sdv{
					background: $sdv-color;
				}	
				
				&.empire{
					background: $empire-color;
				}	
				
				&.pekepolis{
					background: $pekepolis-color;
				}	
					
				&.tumall{
					background: $tumall-color;
				}
				
				&.bluec{
					background: $bluec-color;
				}	
				
				&.dreamcher{
					background: $dreamcher-color;
				}		
				
				&.sunage{
					background: $sunage-color;
				}	
			}
			
			
/*
			.proj-wrap:before{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				content: '';
				@include transitions(all .4s ease-in-out)
			}
			
			.sdv:before{
				background: #EB4747;
			}	
				
			.empire:before{
				background: #16DFCE;
			}	
				
			.pekepolis:before{
				background: #00CCF5;
			}	
				
			.tumall:before{
				background: #F55F5F;
			}
			
			.bluec:before{
				background: #FC798F;
			}	
			
			.dreamcher:before{
				background: #FF9580;
			}		
			
			.sunage:before{
				background: #FFD966;
			}	
			
			.active:before{
				opacity: 1;
			}
*/
				
			.proj-details{
				display: inline-block;
				width: 380px/$body-width * 100%;
				margin-right: 10px;
			}
			
				.proj-descript{
					margin-bottom: 15px;
					color: #FFF;
					color: rgba(255,255,255,0.8);
				}
				
			.showcase-image{
				width: 500px/$body-width * 100%;
				box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
				border-radius: 2px;
				opacity: 0;
				@include transforms(translateX(60px));
			}	
			
			.showcase-image.active{
				opacity: 1;
				@include transforms(translateX(0));
			}
			
			.proj-thumbs{
				margin-top: 15px;
				@include perspectives(400px);
			}	
						
				.proj-thumb-wrap{
					position: relative;
					display: inline-block;
					margin: 0 20px 20px 0;
					width: 200px;
					height: 164px;
					border: solid 4px #FFF;
					border-radius: 3px;
					box-shadow: 0 1px 6px rgba(0,0,0,0.15);
					vertical-align: top;
					opacity: 0;
					overflow: hidden;
					@include transforms(translateY(45px) rotateX(15deg));

				&.active{
					opacity: 1;
					@include transforms(translateY(0) rotateX(0));
				}
				
					&:nth-child(4n+5){
						margin-right: 0;
					}
				
					& img{
						width: 100%;
					}
					
					& img:hover{
						cursor: crosshair;
					}
				}
					.zoom{
						position: absolute;
						overflow: hidden;
						width: 200px;
						height: 200px;
						border: solid 2px #888;
						border-radius: 50%;
						box-shadow: 0 1px 4px rgba(0,0,0,0.2);
						-webkit-transform: translate3d(0,0,0);
					}
					
						.zoom img{
							position: absolute;
							top: 0;
							left: 0;
							width: auto;
							height: auto;
						}
						
@media screen and (max-width: 600px), screen and (max-device-width: 600px){
	
.container{
	padding: 0 0 40px;
}	
	
	.cen-col{
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.header{
		padding-top: 160px;
		height: auto;
	}
	
		.main-nav{
			text-align: center;
		}
	
		.main-logo{
			top: 15px;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
		
			.main-logo:hover{
				@include transforms(scale(0.7));
			}
	
	.page-title{
		font-size: 32px;
	}
	
	.main-text{
		font-size: 16px;
	}
	
		.view-toggle{
			top: 10px;
			right: 6px;
		}
		
		.main-heading{
			display: block;
			width: 75%;
			font-size: 22px;
		}
		
		.site-url{
			margin-left: 0;
		}
	
		.active .proj-contents{
			max-height: 2000px;
		}
		
			.proj-details{
				margin-right: 0;
				width: auto;
			}
				
				.sub-heading{
					font-size: 20px;
				}
				
				.proj-descript{
					text-align: justify;
				}
			
			.showcase-image{
				width: 100%;
			}
			
				.proj-thumb-wrap{
					margin: 0 3px 10px 0;
					width: 45%;
					height: auto;
				}
}					
					