@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?81607982');
  src: url('../font/fontello.eot?81607982#iefix') format('embedded-opentype'),
       url('../font/fontello.svg?81607982#fontello') format('svg'),
       url('../font/fontello.woff?81607982') format('woff'),
       url('../font/fontello.ttf?81607982') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?81607982#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e804'; } /* '' */
.icon-linkedin:before { content: '\e82c'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-picture:before { content: '\e808'; } /* '' */
.icon-camera:before { content: '\e807'; } /* '' */
.icon-layout:before { content: '\e809'; } /* '' */
.icon-menu:before { content: '\e80a'; } /* '' */
.icon-check:before { content: '\e80b'; } /* '' */
.icon-cancel:before { content: '\e80c'; } /* '' */
.icon-cancel-circled:before { content: '\e802'; } /* '' */
.icon-plus-circled:before { content: '\e803'; } /* '' */
.icon-info:before { content: '\e80d'; } /* '' */
.icon-info-circled:before { content: '\e80e'; } /* '' */
.icon-back:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e810'; } /* '' */
.icon-link:before { content: '\e811'; } /* '' */
.icon-attach:before { content: '\e812'; } /* '' */
.icon-eye:before { content: '\e813'; } /* '' */
.icon-thumbs-up:before { content: '\e800'; } /* '' */
.icon-thumbs-down:before { content: '\e801'; } /* '' */
.icon-quote:before { content: '\e814'; } /* '' */
.icon-code:before { content: '\e815'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-print:before { content: '\e817'; } /* '' */
.icon-phone:before { content: '\e818'; } /* '' */
.icon-down-open:before { content: '\e824'; } /* '' */
.icon-left-open:before { content: '\e823'; } /* '' */
.icon-right-open:before { content: '\e822'; } /* '' */
.icon-up-open:before { content: '\e821'; } /* '' */
.icon-down-open-mini:before { content: '\e820'; } /* '' */
.icon-left-open-mini:before { content: '\e81f'; } /* '' */
.icon-right-open-mini:before { content: '\e81e'; } /* '' */
.icon-up-open-mini:before { content: '\e81d'; } /* '' */
.icon-down-open-big:before { content: '\e819'; } /* '' */
.icon-left-open-big:before { content: '\e81a'; } /* '' */
.icon-right-open-big:before { content: '\e81b'; } /* '' */
.icon-up-open-big:before { content: '\e81c'; } /* '' */
.icon-monitor:before { content: '\e825'; } /* '' */
.icon-mobile:before { content: '\e826'; } /* '' */
.icon-globe:before { content: '\e827'; } /* '' */
.icon-github:before { content: '\e82b'; } /* '' */
.icon-twitter:before { content: '\e82a'; } /* '' */
.icon-facebook:before { content: '\e828'; } /* '' */
.icon-gplus:before { content: '\e829'; } /* '' */
.icon-export:before { content: '\e816'; } /* '' */